@model List<Model.EF.vatlieu>
@{   
    ViewBag.Title = "StockCur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StockCur{
    <script src="/Assets/Js/Storage.js"></script>
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Danh sách vật liệu</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <button class="btn btn-primary" onclick="window.location.href = '/Storage/Add'">Thêm vật liệu</button>
                            </li>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Tên</th>
                                    <th>Số lượng</th>
                                    <th>Ảnh</th>
                                    <th>Ngày tạo</th>
                                    <th>Ngày chỉnh sửa</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    string status = "Khóa";
                                    string but_type = "btn btn-danger";
                                    if(item.Status == 0)
                                    {
                                        status = "Mở khóa";
                                        but_type = "btn btn-primary";
                                    }
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.Ten</td>
                                        <td>@item.SoLuong</td>
                                        <td><img src="@item.Image" style="width:100px;height:100px;"/></td>
                                        <td>@item.CreateDate.Value.ToString("dd-MM-yyyy")</td>
                                        <td>@item.UpdateDate.Value.ToString("dd-MM-yyyy")</td>
                                        <td><button type="button" class="@but_type status_vatlieu" data-id="@item.ID" >@status</button></td>
                                        <td><button type="button" class="btn btn-primary" onclick="window.location.href = '/Storage/Edit/' +  '@item.ID'" >Sửa</button>|<button type="button" class="btn btn-danger del_vatlieu" data-id="@item.ID">Xóa</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>

