
@{
    var session = (QLVLXD.Common.UserLogin)Session[QLVLXD.Common.CommonConstants.USER_SESSION];
    ViewBag.Title = "StockIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var VatLieu = ViewBag.VatLieu;
    var NhaCC = ViewBag.NhaCC;
    var PhieuNhap = ViewBag.PhieuNhap;
}
@section StockCur{
    <script src="/Assets/Js/Storage.js"></script>
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Nhập kho</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thêm phiếu nhập kho</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>                            
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form action="/Storage/AddStocIn" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Mặt hàng <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="stockin_vl" class="form-control col-md-7 col-xs-12"  required>
                                        <option selected value="">Chọn mặt hàng</option>
                                        @foreach(var item in VatLieu)
                                        {
                                            <option value="@item.ID">@item.Ten</option>
                                        }
                                    </select>
                                    <input type="hidden" name="id_vl" id="input_idvl" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Nhà cung cấp <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="stockin_nhacc" class="form-control col-md-7 col-xs-12" required>
                                        <option selected value="">Chọn nhà cung cấp</option>
                                        @foreach (var item in NhaCC)
                                        {
                                            <option value="@item.ID">@item.Ten</option>
                                        }
                                    </select>
                                    <input type="hidden" name="id_nhacc" id="input_idnhacc" />
                                    <input type="hidden" name="nv_role" value="@session.VaiTro" />
                                    <input type="hidden" name="id_nv" value="@session.UserID" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Số lượng<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="last-name" name="soluong" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>                                                     
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Thêm</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách phiếu nhập</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>                           
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Tên mặt hàng</th>
                                    <th>Số lượng</th>
                                    <th>Nhà cung cấp</th>
                                    <th>Người nhập</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in PhieuNhap)
                                {
                                    string but_text = "Đã duyệt";
                                    string but_class = "btn btn-success";
                                    if(item.Status == 0)
                                    {
                                        but_text = "Chờ duyệt";
                                        but_class = "btn btn-warning";
                                    }
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.VatLieu</td>
                                        <td>@item.SoLuong</td>
                                        <td>@item.NhaCC</td>
                                        <td>@item.NhanVien</td>
                                        <td><button type="button" class="@but_class">@but_text</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        

        


        
    </div>
</div>

